html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
  font-size: 2rem;
}
a:hover {
  color: coral;
}

* {
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-block-size: 100vh;
  justify-content: center;
  align-items: center;
  background: #f8bca685;
}
